.terms-wrapper{
  margin-top:3rem;
  display:flex;
  gap:.75rem;
  align-items: flex-start;  
}
.terms-wrapper strong{
  font-weight: 500;
  color: var(--text-highlight);
}

.checkbox-wrapper{
  position:relative;    
}

.checkbox-wrapper [type="checkbox"]{
  all:unset;
  position:absolute;
  inset: 0;
}

.checkbox-wrapper .checkbox-image{
  flex: 0 0 1.5rem;
  height: 1.5rem;
  background-image: url(../../assets/icons/checkbox-default.svg);  
}
.checkbox-wrapper:hover .checkbox-image,   
.checkbox-wrapper:focus-within .checkbox-image
{
  background-image:url(../../assets/icons/checkbox-hover.svg);
}
.checkbox-wrapper:has(:checked) .checkbox-image
{
    background-image:url(../../assets/icons/checkbox-checked.svg);
}