.dropzone{
  border:2px dashed transparent;
  outline:1px dashed var(--stroke-default);
  border-radius: .25rem;

  display: grid;
  justify-items: center;
  gap: .5rem;

  text-align: center;
  padding: 1.75rem 1rem;

  position: relative;  
}

.dropzone input{
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  opacity: 0;
}

.dropzone p{
  color:#A8A29E;
}

.dropzone:hover, 
.dropzone:has(input:focus)
{
  outline-width: 0;
  border-color:var(--stroke-highlight);
  background-color: var(--surface-secondary);  
}

.dropzone:hover p,
.dropzone:has(input:focus) p
{
  color: var(--text-tertiary);
}

.dropzone:hover svg path, 
.dropzone:has(input:focus) svg path{
  stroke:var(--stroke-highlight);
}