#app{
  display:grid;
  grid-template-columns: 51.25% 48.75%;
  height: 100vh;
}
@media (width < 80em){
  #app{
    display:flex;
    flex-direction: column;
    overflow: auto;
  }
}

main{
  overflow:auto;
  padding:4rem;  
}

main .main-container{
  max-width: 33rem;
  margin-left: auto;
}

main .back{
  display:flex;
  align-items: center;
  gap:.5rem;
  margin-bottom:1.5rem; 
}

main h1{
  font: 600 1.5rem/1.25 var(--font-family);
  margin-bottom: .5rem;
}

@media (width < 80em){
  main{
    overflow: initial;
    padding:1.5rem;
  } 
}

aside{
  background-color: var(--surface-secondary);
  padding:4rem;  
}

aside .aside-container{
  max-width: 31rem;    
}

.aside-container > img{
  margin-top:2rem;
}

aside h2{
  font: 600 2.5rem/1.25 var(--font-family);
  margin-bottom:.5rem;  
}
aside h2 span{
  color: var(--text-highlight);
}

@media (width < 80em){
  aside{
    padding:.75rem 1.5rem 1.5rem;
  }
  .aside-container{
    display:flex;
    flex-direction: column;
    align-items: center;
  }
}